# Workshop pandas 

On va reprendre le dataset des arbres de Paris et l'analyser en profondeur avec [pandas](pandas.pydata.org/pandas-docs/dev/basics.html)

le dataset les-arbres.csv est disponible dans le channel slack ou sur le site [opendata.paris.fr](https://opendata.paris.fr/explore/dataset/les-arbres/download/?format=csv&timezone=Europe/Berlin&use_labels_for_header=true)

In [ ]:
import pandas as pd

# folder ou sont les datasets
DATA_PATH = '/home/alexis/py918/data/'

# nom du fichier 
filename = 'les-arbres.csv'

In [ ]:
''' 
On charge les données dans une dataframe pandas
* les colonnes sont séparées par des ';' et non des ','  il faut preciser: sep
* une des lignes est malformée: 
  on met error_bad_lines a False pour que cette ligne ne soit pas prise en compte
'''

df = pd.read_csv(DATA_PATH + filename, sep=';', error_bad_lines=False)

print("le fichier a {} rangées (arbres) et {} colonnes".format(df.shape[0], df.shape[1]))


df.columns

# explorer la dataframe

Avec les fonctions suivantes


* df.head(10)
* df.tail()
* df.dtypes
* df.duplicated()
* df.describe()

In [ ]:
# la fonction .head(nombre de ligne) : l'entête de la dataframe

df.head(1)

# modifier le nom des colonnes

* on affiche les colonnes avec 
        df.columns


* on peut modifier le nom des colonnes simplement avec


        df.columns = [liste des noms des nouvelles colonnes]

1. ecrire une fonction *transforme_colonnes* qui prends en entree une liste de strings 
    et qui retourne les elements de cette liste 
    * en minsucule
    * les ' ' remplacés par des '_'
    * les parentheses ( et ) remplacées par des '_'
    * qui remplace 2 '__' consecutifs par un seul '_'

Utiliser pour cela  les fonctions suivantes

        'A'.lower()
et la fonction replace():

        '(abc)'.replace( '(','_' ) )
    
    

2. tester que la fonction fonctionne comme prévu avec assert:
    
        assert transforme_colonnes(['Hauteur (m)']) == 'hauteur__m', "ca marche pas"

3. utiliser la fonction pour creer une nouvelle liste de nom de colonnes

4. renommer les colonnes de df avec la nouvelle liste

In [ ]:
df.ARRONDISSEMENT.value_counts()

# Arbres geants


On a vu que certains arbres avaient des valeurs abberrantes en hauteur et circonference. On va d'abord retrouver ces valeurs puis supprimer ces echantillons du dataset.

1. avec la fonction describe() appliquée a la colonne 'hauteur_m' et 'circonferenceemcm'

2. en plotant un histogram des valeurs avec

        df.hauteur_m.hist(bins = 100)


3. regarder (describe et hist) maintenant un sous ensemble des donnees 

        condition = df.hauteur_m < 50
        
Q) qu'est ce qu'il y a maintenant dans l'objet *condition* ?

4. regarder les histograms et les stats de df[condition]


5. supprimer les echantillons absurdes (hauteur et circonference) simplement avec

        df = df[condition]

6. combien d'echantillons ont ainsi ete supprimés ?

,IDBASE,TYPEEMPLACEMENT,DOMANIALITE,ARRONDISSEMENT,COMPLEMENTADRESSE,NUMERO,LIEU / ADRESSE,IDEMPLACEMENT,LIBELLEFRANCAIS,GENRE,ESPECE,VARIETEOUCULTIVAR,CIRCONFERENCEENCM,HAUTEUR (m),STADEDEVELOPPEMENT,REMARQUABLE,geo_point_2d
0,232702.0,Arbre,Alignement,PARIS 11E ARRDT,NaN,NaN,BOULEVARD DE MENILMONTANT,000602002,Sophora,Sophora,japonica,NaN,55.0,5.0,JA,0.0,"48.8652353853, 2.38481800435"
1,235862.0,Arbre,Alignement,PARIS 18E ARRDT,NaN,NaN,AVENUE DE LA PORTE DE CLIGNANCOURT,000303007,Tilleul,Tilia,tomentosa,NaN,60.0,10.0,JA,NaN,"48.8999949231, 2.34379810146"
2,236391.0,Arbre,Alignement,PARIS 15E ARRDT,27,NaN,BOULEVARD GARIBALDI,000101024,Noisetier de Byzance,Corylus,colurna,NaN,60.0,10.0,JA,NaN,"48.8470727044, 2.30470921442"
3,241122.0,Arbre,Alignement,PARIS 14E ARRDT,NaN,NaN,RUE SARRETTE,000501003,Tilleul,Tilia,tomentosa,NaN,155.0,12.0,A,0.0,"48.8259993388, 2.32878574525"
4,99927.0,Arbre,Jardin,PARIS 16E ARRDT,NaN,NaN,JARDIN DU RANELAGH,00030007,Erable,Acer,platanoides,'Schwedleri',125.0,0.0,NaN,NaN,"48.858836461, 2.26870442691"

# Especes d'arbres

On va regarder maintenant les especes d'arbres avec la fonction value_counts() sur la colonne *libellefrancais*.

1. combien a t on d'especes d'arbres differentes ?

2. combien a t on de domanialité ?

3. rajouter `dropna = False` dans value_counts(). a t on des données manquantes  sur ces 2 colonnes ?

4. maintenant la question est de savoir si les especes d'abres varient en fonction de leur domanialité. En utilisant des conditions (df.domanialite == 'Alignement'), ... regarder si les especes principales varient beaucoup en fonction de la domanialité.

# Nouvelles colonnes

On a les hauteurs d'arbres en metre et les circonference en cm

1. creer une nouvelle colonne `hauteur_cm`

2. les arrondissements ne sont pas tous dans paris. Creer une nouvelle colonne `dans_paris`  Boolean (True ou False) qui soit True quand l'arrondissement contient la string `PARIS` et False sinon

# hauteur vs circonference


1. En utilisant matplotlib: regarder la variation de la hauteur en fonction de la circonference


    plt.scatterplot(df.circonference, df.hauteur_m)

2. en utilisant la variable dans paris, comparez la hauteur / circonference des arbres dans paris et en banlieue.

par exemple
        

        plt.plot(df[df.dans_paris].circonference, df[df.dans_paris].hauteur_m)

suivi de         

        plt.plot(df[~df.dans_paris].circonference, df[~df.dans_paris].hauteur_m)

# sauver le dataset

1. En utilisant la fonction df.to_csv(), sauver un sous ensemble du dataset composé des arbres dans paris et dont la hauteur / circonference est non absurde.

2. `import csv` puis utiliser le parametre quoting = csv.QUOTE_ALL pour etre sur que tous les elements du fichier csv seront entre double quote.