In [1]:
import pandas as pd

In [2]:
ls

Fichier (jour 3).ipynb  Fichiers.ipynb  pandas dataframes.ipynb
Fichier-jour3.ipynb     les-arbres.csv  readme_02.txt

In [4]:
df = pd.read_csv('les-arbres.csv', sep=";", error_bad_lines=False  )

b'Skipping line 1916: expected 17 fields, saw 18\n'

In [5]:
df.shape

(200332, 17)

In [6]:
df.describe()

             IDBASE  NUMERO  CIRCONFERENCEENCM    HAUTEUR (m)    REMARQUABLE
count  2.003320e+05     0.0      200332.000000  200332.000000  137203.000000
mean   3.871040e+05     NaN          83.377988      13.108235       0.001341
std    5.454652e+05     NaN         672.864029    1970.258098       0.036596
min    9.987400e+04     NaN           0.000000       0.000000       0.000000
25%    1.558788e+05     NaN          30.000000       5.000000       0.000000
50%    2.210865e+05     NaN          70.000000       8.000000       0.000000
75%    2.741462e+05     NaN         115.000000      12.000000       0.000000
max    2.024745e+06     NaN      250255.000000  881818.000000       1.000000

In [7]:
df.columns

Index(['IDBASE', 'TYPEEMPLACEMENT', 'DOMANIALITE', 'ARRONDISSEMENT',
       'COMPLEMENTADRESSE', 'NUMERO', 'LIEU / ADRESSE', 'IDEMPLACEMENT',
       'LIBELLEFRANCAIS', 'GENRE', 'ESPECE', 'VARIETEOUCULTIVAR',
       'CIRCONFERENCEENCM', 'HAUTEUR (m)', 'STADEDEVELOPPEMENT', 'REMARQUABLE',
       'geo_point_2d'],
      dtype='object')

In [12]:
df.head()

,IDBASE,TYPEEMPLACEMENT,DOMANIALITE,ARRONDISSEMENT,COMPLEMENTADRESSE,NUMERO,LIEU / ADRESSE,IDEMPLACEMENT,LIBELLEFRANCAIS,GENRE,ESPECE,VARIETEOUCULTIVAR,CIRCONFERENCEENCM,HAUTEUR (m),STADEDEVELOPPEMENT,REMARQUABLE,geo_point_2d
0,232702.0,Arbre,Alignement,PARIS 11E ARRDT,NaN,NaN,BOULEVARD DE MENILMONTANT,000602002,Sophora,Sophora,japonica,NaN,55.0,5.0,JA,0.0,"48.8652353853, 2.38481800435"
1,235862.0,Arbre,Alignement,PARIS 18E ARRDT,NaN,NaN,AVENUE DE LA PORTE DE CLIGNANCOURT,000303007,Tilleul,Tilia,tomentosa,NaN,60.0,10.0,JA,NaN,"48.8999949231, 2.34379810146"
2,236391.0,Arbre,Alignement,PARIS 15E ARRDT,27,NaN,BOULEVARD GARIBALDI,000101024,Noisetier de Byzance,Corylus,colurna,NaN,60.0,10.0,JA,NaN,"48.8470727044, 2.30470921442"
3,241122.0,Arbre,Alignement,PARIS 14E ARRDT,NaN,NaN,RUE SARRETTE,000501003,Tilleul,Tilia,tomentosa,NaN,155.0,12.0,A,0.0,"48.8259993388, 2.32878574525"
4,99927.0,Arbre,Jardin,PARIS 16E ARRDT,NaN,NaN,JARDIN DU RANELAGH,00030007,Erable,Acer,platanoides,'Schwedleri',125.0,0.0,NaN,NaN,"48.858836461, 2.26870442691"

In [13]:
# .value_counts()
df['LIBELLEFRANCAIS'].value_counts()

Platane                 42565
Marronnier              25231
Tilleul                 21335
Erable                  18403
Sophora                 11798
Frêne                    5171
Pin                      4844
Micocoulier              4201
Chêne                    3866
Cerisier à fleurs        3767
Charme                   3472
Poirier à fleurs         3409
Noisetier de Byzance     3372
Peuplier                 3314
Robinier                 2306
Bouleau                  2252
Orme                     2070
If                       1995
Hêtre                    1926
Paulownia                1413
Fevier                   1394
Faux-cyprès              1212
Cyprès                   1205
Noyer                    1130
Tulipier                 1128
Magnolia                 1127
Cedrele                  1067
Arbre de Judée           1019
Pterocarya                997
Prunier à fleurs          976
                        ...
Poliothyrsis                2
Staphylier                  2
Myrte du Chili              2
Genêt                       1
Ormeau épineux              1
Euscaphis                   1
Cordyline                   1
Goyavier                    1
Pistachier                  1
Garrya                      1
Fremontia                   1
Amla                        1
Papayer                     1
Camphrier                   1
Laurier des Açores          1
Jujubier                    1
Seringas                    1
Stewartia                   1
Ostryer                     1
Distylium                   1
Andromède                   1
Idesia                      1
Callistemon                 1
Sycopsis                    1
Heptacodion de Chine        1
Asiminier                   1
Xanthoceras                 1
Faux dattier                1
Maackie                     1
Caragana                    1
Name: LIBELLEFRANCAIS, Length: 193, dtype: int64

In [14]:
# stats
df.describe()

             IDBASE  NUMERO  CIRCONFERENCEENCM    HAUTEUR (m)    REMARQUABLE
count  2.003320e+05     0.0      200332.000000  200332.000000  137203.000000
mean   3.871040e+05     NaN          83.377988      13.108235       0.001341
std    5.454652e+05     NaN         672.864029    1970.258098       0.036596
min    9.987400e+04     NaN           0.000000       0.000000       0.000000
25%    1.558788e+05     NaN          30.000000       5.000000       0.000000
50%    2.210865e+05     NaN          70.000000       8.000000       0.000000
75%    2.741462e+05     NaN         115.000000      12.000000       0.000000
max    2.024745e+06     NaN      250255.000000  881818.000000       1.000000

In [15]:
type(df['LIBELLEFRANCAIS'].value_counts())

pandas.core.series.Series

In [16]:
df['LIBELLEFRANCAIS'].value_counts().describe()

count      193.000000
mean      1030.227979
std       4187.922133
min          1.000000
25%          5.000000
50%         48.000000
75%        389.000000
max      42565.000000
Name: LIBELLEFRANCAIS, dtype: float64

In [17]:
# subset

# hauteur des arbres

df['HAUTEUR (m)'].describe()

count    200332.000000
mean         13.108235
std        1970.258098
min           0.000000
25%           5.000000
50%           8.000000
75%          12.000000
max      881818.000000
Name: HAUTEUR (m), dtype: float64

In [19]:
import numpy as np


np.percentile( df['HAUTEUR (m)'], 99 )

25.0

In [22]:
# regardons les arbres plus haut 

sous_ensemble =  df[ df['HAUTEUR (m)'] < 50 ].copy()

In [23]:
print(df.shape)

print(sous_ensemble.shape)

(200332, 17)
(199873, 17)

In [25]:
geants = df[ df['HAUTEUR (m)'] > 100 ].copy()
print(geants.shape)
geants

(137, 17)

,IDBASE,TYPEEMPLACEMENT,DOMANIALITE,ARRONDISSEMENT,COMPLEMENTADRESSE,NUMERO,LIEU / ADRESSE,IDEMPLACEMENT,LIBELLEFRANCAIS,GENRE,ESPECE,VARIETEOUCULTIVAR,CIRCONFERENCEENCM,HAUTEUR (m),STADEDEVELOPPEMENT,REMARQUABLE,geo_point_2d
946,295366.0,Arbre,Alignement,PARIS 5E ARRDT,NaN,NaN,BOULEVARD SAINT GERMAIN,000301004,Platane,Platanus,x hispanica,NaN,80.0,138.0,M,0.0,"48.84938736, 2.35377411474"
2666,2008770.0,Arbre,DJS,PARIS 13E ARRDT,NaN,NaN,STADE CHARLETTY / 99 BOULEVARD KELLERMANN,00000181,Tilleul,Tilia,tomentosa,NaN,10.0,105.0,JA,0.0,"48.8167711996, 2.3466241115"
5954,2004748.0,Arbre,Alignement,BOIS DE VINCENNES,NaN,NaN,ROUTE DE LA FALUERE,000202027,Tilleul,Tilia,platyphyllos,NaN,140.0,114.0,A,0.0,"48.8326416901, 2.44232023591"
6014,261807.0,Arbre,Alignement,PARIS 6E ARRDT,NaN,NaN,PLACE CAMILLE JULLIAN,000302001,Marronnier,Aesculus,hippocastanum,NaN,145.0,810.0,A,0.0,"48.840723602, 2.33649867876"
6589,276202.0,Arbre,Alignement,PARIS 7E ARRDT,286.,NaN,BOULEVARD SAINT GERMAIN,006202008,Platane,Platanus,occidentalis,NaN,215.0,2525.0,A,0.0,"48.861813239, 2.32015652503"
6959,264282.0,Arbre,Alignement,PARIS 16E ARRDT,NaN,NaN,AVENUE VICTOR HUGO,001901025,Platane,Platanus,x hispanica,NaN,160.0,180.0,A,0.0,"48.8645067214, 2.2733207185"
7460,232279.0,Arbre,Alignement,PARIS 19E ARRDT,NaN,NaN,AVENUE DE FLANDRE,000701015,Sophora,Sophora,japonica,NaN,95.0,105.0,A,0.0,"48.8939675087, 2.3810157928"
8483,2007678.0,Arbre,Alignement,PARIS 15E ARRDT,<Nul>,NaN,RUE JONGKIND,000402002,Cornouiller,Cornus,mas,NaN,20.0,610.0,JA,0.0,"48.8396403963, 2.28101849045"
8824,2008878.0,Arbre,DJS,PARIS 13E ARRDT,NaN,NaN,STADE CHARLETTY / 99 BOULEVARD KELLERMANN,00000089,Micocoulier,Celtis,australis,NaN,10.0,110.0,JA,0.0,"48.8165850566, 2.34670358108"
9196,274101.0,Arbre,Alignement,PARIS 11E ARRDT,NaN,NaN,AVENUE PHILIPPE AUGUSTE,000101004,Sophora,Sophora,japonica,NaN,155.0,5155.0,JA,0.0,"48.8496406337, 2.39500658196"
9675,232255.0,Arbre,Alignement,PARIS 19E ARRDT,NaN,NaN,AVENUE DE FLANDRE,000507001,Sophora,Sophora,japonica,NaN,130.0,155.0,A,0.0,"48.8905652966, 2.37606576062"
11246,278069.0,Arbre,Alignement,PARIS 7E ARRDT,78,NaN,AVENUE DE LA BOURDONNAIS,001602014,Platane,Platanus,occidentalis,NaN,14.0,110.0,A,0.0,"48.8546470424, 2.30466682905"
12162,271819.0,Arbre,Alignement,PARIS 7E ARRDT,NaN,NaN,AVENUE BOSQUET,001202001,Platane,Platanus,occidentalis,NaN,160.0,118.0,A,0.0,"48.8560897559, 2.30468718242"
17825,2004879.0,Arbre,Alignement,BOIS DE VINCENNES,NaN,NaN,ROUTE DE LA FALUERE,000101039,Tilleul,Tilia,platyphyllos,NaN,140.0,154.0,A,0.0,"48.8320499109, 2.44135121689"
17930,295508.0,Arbre,Alignement,PARIS 5E ARRDT,NaN,NaN,BOULEVARD SAINT GERMAIN,000301003,Platane,Platanus,x hispanica,NaN,65.0,129.0,JA,0.0,"48.8493812302, 2.35391804182"
19082,202899.0,Arbre,Alignement,PARIS 7E ARRDT,3,NaN,AVENUE DE TOURVILLE,000101010,Platane,Platanus,x hispanica,NaN,55.0,106.0,J,0.0,"48.8536688416, 2.31367263826"
22363,2008792.0,Arbre,DJS,PARIS 13E ARRDT,NaN,NaN,STADE CHARLETTY / 99 BOULEVARD KELLERMANN,00000203,Tilleul,Tilia,tomentosa,NaN,10.0,120.0,JA,0.0,"48.8167611192, 2.34591873751"
22688,271594.0,Arbre,Alignement,PARIS 7E ARRDT,NaN,NaN,AVENUE BOSQUET,001002008,Platane,Platanus,occidentalis,NaN,180.0,118.0,A,0.0,"48.8566062036, 2.30443984089"
23941,208289.0,Arbre,Alignement,PARIS 13E ARRDT,NaN,NaN,BOULEVARD ARAGO,000501010,Marronnier,Aesculus,hippocastanum,'Baumannii',85.0,112.0,J,0.0,"48.8357390524, 2.34881944253"
26669,276297.0,Arbre,Alignement,PARIS 7E ARRDT,NaN,NaN,ESPLANADE DES INVALIDES,000410006,Tilleul,Tilia,tomentosa,NaN,130.0,1815.0,A,0.0,"48.8606491867, 2.31473925557"
27003,347463.0,Arbre,Alignement,PARIS 12E ARRDT,57,NaN,BOULEVARD PONIATOWSKI,001002011,Frêne,Fraxinus,americana,NaN,25.0,510.0,J,0.0,"48.8329087741, 2.40121499536"
28802,2008801.0,Arbre,DJS,PARIS 13E ARRDT,NaN,NaN,STADE CHARLETTY / 99 BOULEVARD KELLERMANN,00000212,Tilleul,Tilia,tomentosa,NaN,10.0,105.0,JA,0.0,"48.817119294, 2.34592938905"
28883,115062.0,Arbre,Jardin,PARIS 16E ARRDT,11 à 27,NaN,JARDIN DE L AVENUE FOCH / 10 AVENUE FOCH,00010303,Erable,Acer,n. sp.,NaN,47.0,255.0,J,0.0,"48.8726685084, 2.28810818278"
33331,2008646.0,Arbre,Alignement,PARIS 12E ARRDT,NaN,NaN,RUE DE REUILLY,000806001,Micocoulier,Celtis,australis,NaN,125.0,105.0,A,0.0,"48.8458832951, 2.38804528928"
33631,277406.0,Arbre,Alignement,PARIS 7E ARRDT,31,NaN,AVENUE CHARLES FLOQUET,001101010,Marronnier,Aesculus,x carnea,NaN,55.0,720.0,JA,0.0,"48.8536607572, 2.29837244804"
36692,162170.0,Arbre,CIMETIERE,VAL-DE-MARNE,NaN,NaN,CIMETIERE D'IVRY / AVENUE TRANSVERSALE N4 / DI...,A15200025001,Platane,Platanus,orientalis,NaN,192.0,219.0,A,0.0,"48.8109318484, 2.36560493619"
37125,293178.0,Arbre,Alignement,PARIS 18E ARRDT,NaN,NaN,RUE CAULAINCOURT,000802038,Sophora,Sophora,japonica,NaN,50.0,1216.0,JA,0.0,"48.8891334535, 2.33476542757"
37809,237004.0,Arbre,Alignement,PARIS 15E ARRDT,N°61,NaN,RUE DES ENTREPRENEURS,000501001,Erable,Acer,platanoides,NaN,80.0,125.0,A,0.0,"48.8454369148, 2.28878244865"
37833,2008885.0,Arbre,DJS,PARIS 13E ARRDT,NaN,NaN,STADE CHARLETTY / 99 BOULEVARD KELLERMANN,00000110,Micocoulier,Celtis,australis,NaN,10.0,110.0,JA,0.0,"48.8168241014, 2.34760744308"
38144,195108.0,Arbre,PERIPHERIQUE,PARIS 18E ARRDT,NaN,NaN,TALUS N°23-10,092310138,Peuplier,Populus,nigra,'Italica',110.0,205.0,NaN,NaN,"48.9011238261, 2.36368830592"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154433,2008880.0,Arbre,DJS,PARIS 13E ARRDT,NaN,NaN,STADE CHARLETTY / 99 BOULEVARD KELLERMANN,00000091,Micocoulier,Celtis,australis,NaN,10.0,120.0,JA,0.0,"48.8165819739, 2.34678793407"
154721,347810.0,Arbre,Alignement,PARIS 20E ARRDT,82,NaN,BOULEVARD DAVOUT,001202010,Platane,Platanus,x hispanica,NaN,65.0,512.0,JA,0.0,"48.8547759708, 2.4105368202"
154836,271755.0,Arbre,Alignement,PARIS 7E ARRDT,NaN,NaN,AVENUE BOSQUET,001002015,Platane,Platanus,occidentalis,NaN,40.0,107.0,J,0.0,"48.8562960698, 2.30458995088"
156776,276009.0,Arbre,Alignement,PARIS 7E ARRDT,NaN,NaN,ESPLANADE DES INVALIDES,000103007,Tilleul,Tilia,tomentosa,NaN,180.0,218.0,A,0.0,"48.8613014489, 2.31233080489"
159236,211919.0,Arbre,Alignement,PARIS 19E ARRDT,NaN,NaN,AVENUE DE FLANDRE,000501017,Micocoulier,Celtis,australis,NaN,105.0,105.0,A,0.0,"48.8922355719, 2.37876996085"
161359,299104.0,Arbre,Alignement,PARIS 12E ARRDT,226,NaN,RUE DU FAUBOURG SAINT ANTOINE,002202022,Platane,Platanus,x hispanica,NaN,140.0,156.0,A,0.0,"48.8495245091, 2.38785093814"
162537,258987.0,Arbre,Alignement,PARIS 15E ARRDT,SN°,NaN,RUE PECLET,000602001,Erable,Acer,saccharinum,NaN,55.0,810.0,A,0.0,"48.8415182014, 2.29956887108"
162744,295452.0,Arbre,Alignement,PARIS 5E ARRDT,NaN,NaN,BOULEVARD SAINT GERMAIN,000501003,Platane,Platanus,x hispanica,NaN,20.0,155.0,J,0.0,"48.8494469432, 2.35229568435"
164421,237670.0,Arbre,Alignement,PARIS 19E ARRDT,NaN,NaN,BOULEVARD MACDONALD,001602006,Platane,Platanus,x hispanica,NaN,150.0,155.0,A,0.0,"48.8988603458, 2.37331191951"
168486,276432.0,Arbre,Alignement,PARIS 7E ARRDT,NaN,NaN,ESPLANADE DES INVALIDES,000408013,Tilleul,Tilia,tomentosa,NaN,80.0,1510.0,JA,0.0,"48.8603478212, 2.31456306712"
171227,285301.0,Arbre,Alignement,PARIS 18E ARRDT,NaN,NaN,RUE CAULAINCOURT,000501043,Sophora,Sophora,japonica,NaN,150.0,148.0,A,0.0,"48.8893593898, 2.33479269443"
172425,241919.0,Arbre,Alignement,PARIS 19E ARRDT,60,NaN,AVENUE SIMON BOLIVAR,000602018,Platane,Platanus,x hispanica,NaN,195.0,205.0,A,0.0,"48.8765087477, 2.37715990925"
176439,278074.0,Arbre,Alignement,PARIS 7E ARRDT,21,NaN,AVENUE DE LOWENDAL,000701016,Erable,Acer,platanoides,NaN,80.0,110.0,A,0.0,"48.8497029775, 2.30432513104"
179684,2008771.0,Arbre,DJS,PARIS 13E ARRDT,NaN,NaN,STADE CHARLETTY / 99 BOULEVARD KELLERMANN,00000182,Tilleul,Tilia,tomentosa,NaN,10.0,110.0,JA,0.0,"48.8168054223, 2.34661609695"
180663,246377.0,Arbre,Alignement,PARIS 14E ARRDT,NaN,NaN,BOULEVARD SAINT JACQUES,000206052,Platane,Platanus,x hispanica,NaN,105.0,115.0,J,0.0,"48.8331708932, 2.33719603193"
181273,268824.0,Arbre,Alignement,PARIS 11E ARRDT,NaN,NaN,AVENUE PHILIPPE AUGUSTE,001301019,Platane,Platanus,x hispanica,NaN,90.0,115.0,A,0.0,"48.8571295301, 2.39035867057"
183593,194234.0,Arbre,PERIPHERIQUE,PARIS 19E ARRDT,NaN,NaN,MAIL RUE EMILE BOLLAERT,09MART018,Marronnier,Aesculus,hippocastanum,NaN,165.0,101.0,NaN,NaN,"48.9000393194, 2.37572435808"
183792,2008758.0,Arbre,DJS,PARIS 13E ARRDT,NaN,NaN,STADE CHARLETTY / 99 BOULEVARD KELLERMANN,00000169,Micocoulier,Celtis,australis,NaN,10.0,110.0,JA,0.0,"48.8172297412, 2.34710816072"
185844,186563.0,Arbre,DASCO,PARIS 12E ARRDT,NaN,NaN,WATTIGNIES (52) ELEM,10670005,Marronnier,Aesculus,hippocastanum,NaN,140.0,1211.0,A,0.0,"48.8352354565, 2.39682210236"
186410,263388.0,Arbre,Alignement,PARIS 16E ARRDT,NaN,NaN,BOULEVARD DELESSERT,000301015,Marronnier,Aesculus,hippocastanum,NaN,115.0,159.0,A,0.0,"48.8586919485, 2.28571248946"
187152,295434.0,Arbre,Alignement,PARIS 5E ARRDT,NaN,NaN,BOULEVARD SAINT GERMAIN,000901004,Platane,Platanus,x hispanica,NaN,12.0,105.0,A,0.0,"48.8497112893, 2.34972209996"
187161,222917.0,Arbre,Alignement,PARIS 19E ARRDT,NaN,NaN,BOULEVARD MACDONALD,001602002,Platane,Platanus,x hispanica,NaN,60.0,105.0,JA,0.0,"48.8988700296, 2.3737637486"
188634,276330.0,Arbre,Alignement,PARIS 7E ARRDT,NaN,NaN,ESPLANADE DES INVALIDES,000408014,Tilleul,Tilia,tomentosa,NaN,90.0,1515.0,JA,0.0,"48.860305104, 2.31455712745"
194063,234857.0,Arbre,Alignement,PARIS 19E ARRDT,NaN,NaN,AVENUE DE FLANDRE,000303003,Tilleul,Tilia,n. sp.,NaN,75.0,106.0,JA,0.0,"48.8860471565, 2.37079774811"
194144,275451.0,Arbre,Alignement,PARIS 7E ARRDT,NaN,NaN,ESPLANADE DES INVALIDES,000410005,Tilleul,Tilia,tomentosa,NaN,7540.0,815.0,JA,0.0,"48.8606930192, 2.31474520802"
196886,118412.0,Arbre,Jardin,PARIS 7E ARRDT,NaN,NaN,SQUARE DE L'ABBE ESQUERRE,00000017,Paulownia,Paulownia,tomentosa,NaN,145.0,810.0,A,0.0,"48.8505499438, 2.31423826392"
198730,286286.0,Arbre,Alignement,PARIS 18E ARRDT,NaN,NaN,RUE CAULAINCOURT,000501048,Sophora,Sophora,japonica,NaN,175.0,618.0,A,0.0,"48.8895107319, 2.33512850482"
199083,270907.0,Arbre,Alignement,PARIS 7E ARRDT,NaN,NaN,QUAI BRANLY,000303012,Paulownia,Paulownia,tomentosa,NaN,40.0,810.0,J,0.0,"48.8594818381, 2.29435527057"
199528,2008791.0,Arbre,DJS,PARIS 13E ARRDT,NaN,NaN,STADE CHARLETTY / 99 BOULEVARD KELLERMANN,00000202,Tilleul,Tilia,tomentosa,NaN,10.0,115.0,JA,0.0,"48.8167733826, 2.34650517743"
199640,2020792.0,Arbre,Jardin,PARIS 14E ARRDT,NaN,NaN,SQUARE AUGUSTE RENOIR / 205 RUE RAYMOND LOSSERAND,000103005,Erable,Acer,platanoides,NaN,145.0,125.0,A,0.0,"48.828272279, 2.30885816933"

In [26]:
condition = df['HAUTEUR (m)'] < 50
condition

0         True
1         True
2         True
3         True
4         True
5         True
6         True
7         True
8         True
9         True
10        True
11        True
12        True
13        True
14        True
15        True
16        True
17        True
18        True
19        True
20        True
21        True
22        True
23        True
24        True
25        True
26        True
27        True
28        True
29        True
          ...
200302    True
200303    True
200304    True
200305    True
200306    True
200307    True
200308    True
200309    True
200310    True
200311    True
200312    True
200313    True
200314    True
200315    True
200316    True
200317    True
200318    True
200319    True
200320    True
200321    True
200322    True
200323    True
200324    True
200325    True
200326    True
200327    True
200328    True
200329    True
200330    True
200331    True
Name: HAUTEUR (m), Length: 200332, dtype: bool

In [27]:
df = df[condition]

In [28]:
df['HAUTEUR (m)'].describe()

count    199873.000000
mean          8.330635
std           6.196262
min           0.000000
25%           5.000000
50%           8.000000
75%          12.000000
max          47.000000
Name: HAUTEUR (m), dtype: float64

In [30]:
df['CIRCONFERENCEENCM'].describe()

count    199873.000000
mean         83.389712
std         673.311327
min           0.000000
25%          30.000000
50%          70.000000
75%         115.000000
max      250255.000000
Name: CIRCONFERENCEENCM, dtype: float64

In [32]:
np.percentile(df['CIRCONFERENCEENCM'], 99)

265.0

In [34]:
condition = df['CIRCONFERENCEENCM'] < 250
condition.value_counts()

True     196822
False      3051
Name: CIRCONFERENCEENCM, dtype: int64

In [35]:
df = df[condition]

In [38]:
print("le dataframe a {} rangées et {} colonnes".format(df.shape[0] , df.shape[1]   ))

le dataframe a 196822 rangées et 17 colonnes

In [37]:
df.describe()

             IDBASE  NUMERO  CIRCONFERENCEENCM    HAUTEUR (m)    REMARQUABLE
count  1.968220e+05     0.0      196822.000000  196822.000000  134509.000000
mean   3.859145e+05     NaN          76.425918       8.153235       0.000654
std    5.433933e+05     NaN          56.971782       6.011529       0.025570
min    9.987400e+04     NaN           0.000000       0.000000       0.000000
25%    1.563702e+05     NaN          30.000000       5.000000       0.000000
50%    2.212705e+05     NaN          70.000000       8.000000       0.000000
75%    2.740308e+05     NaN         110.000000      12.000000       0.000000
max    2.024745e+06     NaN         249.000000      47.000000       1.000000

In [41]:
# changement de nom pour la colonne Hauteur

df.rename( columns = { 'HAUTEUR (m)': 'hauteur', 'CIRCONFERENCEENCM': 'circonference'   }, inplace = True )

df.columns

Index(['IDBASE', 'TYPEEMPLACEMENT', 'DOMANIALITE', 'ARRONDISSEMENT',
       'COMPLEMENTADRESSE', 'NUMERO', 'LIEU / ADRESSE', 'IDEMPLACEMENT',
       'LIBELLEFRANCAIS', 'GENRE', 'ESPECE', 'VARIETEOUCULTIVAR',
       'circonference', 'hauteur', 'STADEDEVELOPPEMENT', 'REMARQUABLE',
       'geo_point_2d'],
      dtype='object')

In [42]:
# afficher 2 colonnes

df[['circonference', 'hauteur']]

        circonference  hauteur
0                55.0      5.0
1                60.0     10.0
2                60.0     10.0
3               155.0     12.0
4               125.0      0.0
5               120.0      8.0
6               100.0      0.0
7                60.0      0.0
8                45.0      5.0
9                 0.0      0.0
10               22.0      0.0
11               25.0      4.0
12                0.0      0.0
13                0.0      0.0
14               67.0      8.0
15                0.0      0.0
16               80.0      6.0
17               25.0      2.0
18              125.0     15.0
19               50.0      5.0
20               70.0     10.0
22              120.0     12.0
23               30.0      5.0
24               45.0      8.0
25               35.0      8.0
26               70.0      8.0
27               20.0      5.0
28               70.0     13.0
29               60.0      8.0
30              145.0      6.0
...               ...      ...
200300          175.0     20.0
200301           30.0      5.0
200302           85.0     15.0
200303           20.0      5.0
200304          190.0     20.0
200306          125.0     15.0
200307          115.0     10.0
200308          165.0     10.0
200310          145.0     16.0
200311           38.0      6.0
200312          105.0     10.0
200313           85.0     10.0
200314           45.0      8.0
200315           45.0      8.0
200316           66.0     11.0
200317          100.0     20.0
200318           74.0     12.0
200319           25.0      4.0
200320          240.0     24.0
200321           90.0      9.0
200322          100.0     10.0
200323           25.0      3.0
200324           20.0      5.0
200325            0.0      0.0
200326           65.0      8.0
200327           65.0      5.0
200328           59.0      8.0
200329          100.0     10.0
200330          105.0     15.0
200331           40.0      0.0

[196822 rows x 2 columns]

In [45]:
# afficher que les rangees de 50 a 60

df[50:60]

,IDBASE,TYPEEMPLACEMENT,DOMANIALITE,ARRONDISSEMENT,COMPLEMENTADRESSE,NUMERO,LIEU / ADRESSE,IDEMPLACEMENT,LIBELLEFRANCAIS,GENRE,ESPECE,VARIETEOUCULTIVAR,circonference,hauteur,STADEDEVELOPPEMENT,REMARQUABLE,geo_point_2d
51,106825.0,Arbre,Jardin,PARIS 7E ARRDT,NaN,NaN,JARDIN DU CHAMP DE MARS,A0120708,Tilleul,Tilia,n. sp.,NaN,160.0,18.0,A,0.0,"48.8544670007, 2.30291409788"
52,108968.0,Arbre,Jardin,PARIS 7E ARRDT,NaN,NaN,SQUARE SANTIAGO DU CHILI,00000033,Tulipier,Liriodendron,tulipifera,NaN,35.0,6.0,NaN,NaN,"48.8576822463, 2.31090489379"
53,111155.0,Arbre,Jardin,PARIS 16E ARRDT,NaN,NaN,SQUARE ALEXANDRE ET RENE PARODI / 1 PLACE DE L...,00000002,Marronnier,Aesculus,hippocastanum,NaN,145.0,11.0,NaN,NaN,"48.8759159118, 2.27978059723"
54,111518.0,Arbre,Jardin,PARIS 17E ARRDT,NaN,NaN,PARC CLICHY-BATIGNOLLES-MARTIN LUTHER KING,000F0026,Frêne,Fraxinus,angustifolia,'Raywood',41.0,0.0,NaN,NaN,"48.8909668828, 2.31557460175"
55,117084.0,Arbre,Jardin,PARIS 20E ARRDT,NaN,NaN,SQUARE ANTOINE BLONDIN,00000040,Cerisier à fleurs,Prunus,NaN,'Umineko',32.0,0.0,JA,0.0,"48.8608120613, 2.40548662422"
56,121464.0,Arbre,Jardin,PARIS 13E ARRDT,NaN,NaN,SQUARE PAUL GRIMAULT,00000011,Tilleul,Tilia,platyphyllos,NaN,100.0,7.0,NaN,NaN,"48.822733491, 2.34790850013"
57,122935.0,Arbre,Jardin,PARIS 12E ARRDT,NaN,NaN,SQUARE PLACE DE LA NATION,00000011,Lilas des indes,Lagerstroemia,indica,NaN,20.0,3.0,JA,0.0,"48.8482615229, 2.39610728033"
58,123868.0,Arbre,Jardin,PARIS 20E ARRDT,NaN,NaN,SQUARE LESSEPS,00000004,Tilleul,Tilia,cordata,NaN,148.0,0.0,NaN,NaN,"48.8591817849, 2.39989917319"
59,127807.0,Arbre,Jardin,PARIS 19E ARRDT,NaN,NaN,SQUARE DE LA BUTTE DU CHAPEAU ROUGE / 11 BOULE...,00000302,Pin,Pinus,nigra subsp. nigra,NaN,54.0,0.0,NaN,NaN,"48.8826687245, 2.39753178763"
60,130076.0,Arbre,Jardin,PARIS 15E ARRDT,NaN,NaN,SQUARE DE LA PORTE DE LA PLAINE / 2 PLACE DES ...,000105002,Pommier à fleurs,Malus,pumila,'Niedzwetzkyana',23.0,0.0,NaN,NaN,"48.8285663462, 2.29274520514"

In [47]:
# 

df.REMARQUABLE.value_counts( dropna = False)

 0.0    134421
NaN      62313
 1.0        88
Name: REMARQUABLE, dtype: int64

In [48]:
# changer les valeurs de 'REMARQUABLE' pour que ca soit plus explicite

condition = df.REMARQUABLE == 1

df[condition].shape

(88, 17)

In [ ]:
# changer la valeur 1 pour le champ remarquable en la valeur 'oui'
condition = df.REMARQUABLE == 1
df.loc[condition, 'REMARQUABLE'] = 'oui'

In [50]:
df['REMARQUABLE'].value_counts(dropna = False)

0.0    134421
NaN     62313
oui        88
Name: REMARQUABLE, dtype: int64

In [53]:
# changer la valeur 0 pour remarquable en 'non'

condition = df.REMARQUABLE == 0
df.loc[condition, 'REMARQUABLE'] = 'non'

print(df.REMARQUABLE.value_counts(dropna= False))

non    134421
NaN     62313
oui        88
Name: REMARQUABLE, dtype: int64

In [54]:
# NaN > non

condition = df.REMARQUABLE.isnull()
df.loc[condition, 'REMARQUABLE'] = 'non'
print(df.REMARQUABLE.value_counts(dropna= False))

non    196734
oui        88
Name: REMARQUABLE, dtype: int64